
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: monospace;
    color: white;
    background-color: tomato;


    display: grid;

    /* set the amount of columns */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}


/* how do we move the elemnt */

header {
    /* tell it what row the header should be in */
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;


    background-color: bisque;
}

/* a:visited {
    color: rgb(211, 222, 58);
}

a {
    text-decoration: none;
    color: rgb(0, 13, 255);
} */


main {
    grid-row: 2 / 3;
    grid-column: 2 / 3 ;

    background-color: rgb(185, 155, 111);
}

footer {
    grid-row: 3 / 4;
    grid-column:  2 / 3;

    background-color: rgb(251, 178, 88);
}