.box {
    height: 150px;
    width: 150px;
    background-color: grey;
    font-family: monospace;
    font-size: 26px;
}

/* this is the default for all elements */
.static {
    position: static;
    left: 4000px;
}

/* setting postion to anything but static allows you to use some additional properties: top-left-bottom-right */
.relative {
    position: relative;
    left: 550px;
    top: 80px;
}

.absolute {
    position: absolute;
    top: 800px;
    left: 250px;
    z-index: 2;
}

.sticky {
    position: sticky;
    top: 0px;
}

.fixed {
    position: fixed;
    top: 0px;
    right: 50px;
}



.tree {
    background-image: url('https://images.unsplash.com/photo-1482148454461-aaedae4b30bb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.america {
    background-image: url('https://images.unsplash.com/photo-1498855926480-d98e83099315?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.beach {
    background-image: url('https://images.unsplash.com/photo-1500375592092-40eb2168fd21?q=80&w=2788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.snow {
    background-image: url('https://images.unsplash.com/photo-1418985991508-e47386d96a71?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.flower {
    background-image: url('https://images.unsplash.com/photo-1618468355232-88a329df0182?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}


.parent {
    position: relative;
    background-color: antiquewhite;
}

.child {
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: 0px;
    right: 24px;
}

.child2 {
    position: absolute;
    background-color: red;
    top: 3px;
    height: 25px;
    width: 25px;
}

/*    
<div class="box parent">
    <div class="box child"></div> 
</div> 
*/